<form [formGroup]="filters">
  <p>Region</p>
  <label>
    <input type="radio" formControlName="region" value="all">
    All
  </label>
  <label>
    <input type="radio" formControlName="region" value="northamerica">
    North America
  </label>
  <label>
    <input type="radio" formControlName="region" value="europe">
    Europe
  </label>
  <label>
    <input type="radio" formControlName="region" value="asia">
    Asia
  </label>
  <p>Date Range</p>
  <label>
    From
    <br>
    <input type="date" formControlName="from">
  </label>
  <label>
    To
    <br>
    <input type="date" formControlName="to">
  </label>
  <p>Age Groups</p>
  <label>
    <input type="checkbox" formControlName="under18">
    Under 18
  </label>
  <label>
    <input type="checkbox" formControlName="18to40">
    18-40
  </label>
  <label>
    <input type="checkbox" formControlName="40to60">
    40-60
  </label>
  <label>
    <input type="checkbox" formControlName="over60">
    Over 60
  </label>
</form>
<br>
<pre>{{filters.value | json}}</pre>
