:host {
  display: grid;
  grid-template:
    "list player filters" /
     1fr  2fr    1fr;
  grid-gap: 10px;
}

app-video-list {
  grid-area: list;
}
app-video-player {
  grid-area: player;
}
app-stat-filters {
  grid-area: filters;
}
